{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

            <!-- Content Wrapper -->
            <article class="about-page">
                <!-- Breadcrumb -->
                <section class="theme-breadcrumb pad-50">
                    <div class="theme-container container ">
                        <div class="row">
                            <div class="col-sm-8 pull-left">
                                <div class="title-wrap">
                                    <h2 class="section-title no-margin">About us</h2>
                                    <p class="fs-16 no-margin">Know about us more</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <ol class="breadcrumb-menubar list-inline">
                                    <li><a href="#" class="gray-clr">Home</a></li>
                                    <li class="active">About</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.Breadcrumb -->

                <!-- About Us -->
                <section class="pad-50 about-wrap">
                    <span class="bg-text"> About </span>
                    <div class="theme-container container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-us pt-10">
                                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                                      As one of rising clearing agents, we are able to offer sophisticated services according to clients requirements.   All  of  our staff  are  well Trained   to fulfill   our customers  requirements   according   to  their  need. Because  they  understand  it very  well that every  customers  need  is  different From  each     other. As an ideal company we understand our customers Individual   needs. As our business is 24/7(export) service oriented, that’s why our Information is consistent, timely, and accurate. Hence we operate in the following ways:
                                    </p>
                                    <ul class="feature">
                                        <li>
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">PROFESSIONALLY</h2>
                                            </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">HARDWORKING AND PROACTIVELY</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">GIVE FIRST PRIORITY TO CUSTOMERS NEEDS</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">INSTANT REPLY TO ANY   QUERY OF CLIENTS THROUGH MAIL</h2>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <img alt="" src="{% static 'assets/img/block/about-img.png' %}" class="effect animated fadeInRight" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.About Us -->

                <!-- More About Us -->
                <section class="pad-30 more-about-wrap">
                    <div class="theme-container container pb-100">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="more-about clrbg-before" style="padding-bottom: 143px;">
                                    <h2 class="title-1">Our Vision</h2>
                                    <div class="pad-10"></div>
                                    <p>
                                      To be a top clearing and forwarding agent all over the country.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                <div class="more-about clrbg-before">
                                    <h2 class="title-1">Our History</h2>
                                    <div class="pad-10"></div>
                                    <p>
                                      Our journey has begun in1990 as a leading Currier Service and in 2007 as a comprehensive
                                      service provider for   clearing and forwarding. The Speed Line Express Ltd is founded by
                                      Mr. Serazul Islam & Mr. Eaar Hossain. Under their experience guidance, business has seen
                                      exponential growth.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s">
                                <div class="more-about clrbg-before"  style="padding-bottom: 121px;">
                                    <h2 class="title-1">Our Mission</h2>
                                    <div class="pad-10"></div>
                                    <p>
                                      To  strive  for  excellence  by  providing  best  and  fastest  service to our clients. We aim to assist all our clients   and make their business better.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.More About Us -->

                <section class="pad-50 about-wrap">
                    <span class="bg-text"> Our Speciality </span>
                    <div class="theme-container container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-us pt-10">
                                  <h1>Our Speciality</h1>
                                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                                      Our   proper knowledge and professional working style   in   this   sector has
                                      Helped us   offer   customized solutions to all of our clients.  So that they can get their goods in short time.  Our   team of dedicated professionals ensure  end  to  end  solutions for  both  import  and  export  customs  clearance in the most cost effective manner.
                                      To provide above services to our honorable client we are……………..

                                    </p>
                                    <ul class="feature">
                                        <li>
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">COMMITED TO ACHIVE CUSTOMER SATISFACTION</h2>
                                            </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">HIGHLY FFICIENT WORKING PROCEDURES</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">EXPERIENCE IN HANDLING DIFFERENT COMMODITIES</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">CUSTOMER ORIENTED POLICY</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">COMPLETE DOCUMENTATION</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">IT SUPPORT</h2>
                                          </div>
                                        </li>
                                    </ul>
                                    <q class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s" style="color: red; font-style: italic; font-weight: bold;">
                                      BECAUSE   OUR FIRST PRIORITY IS TO EARN SATISFACTION OF OUR HONOURABLE   CLIENTS.
                                    </q>

                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <img alt="" src="{% static 'assets/img/block/delivery.png' %}" class="effect animated fadeInRight" />
                            </div>
                        </div>
                    </div>
                </section>


            </article>
            <!-- /.Content Wrapper -->

  {% endblock %}
