{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

            <!-- Content Wrapper -->
            <article class="about-page">
                <!-- Breadcrumb -->
                <section class="theme-breadcrumb pad-50">
                    <div class="theme-container container ">
                        <div class="row">
                            <div class="col-sm-8 pull-left">
                                <div class="title-wrap">
                                    <h2 class="section-title no-margin">Clients</h2>
                                    <p class="fs-16 no-margin">List of honorable clients</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <ol class="breadcrumb-menubar list-inline">
                                    <li><a href="#" class="gray-clr">Home</a></li>
                                    <li class="active">Clients</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.Breadcrumb -->

                <!-- Clients -->
                <section class="pad-50 about-wrap">
                    <span class="bg-text"> Clients </span>
                    <div class="theme-container container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-us pt-10">
                                    <ul class="feature">
                                        <li>
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">NORWEST INDUSTRIES LTD</h2>
                                            </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">POETICGEM INTERNATIONAL LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">ZAMIRA FASHION LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">KRAYON SOURCING LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">FX IMPORT HONG KONG LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">BRANDIX CASUAL WEAR LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">MANOHAR FILAMENTS BD LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">INTERNATIONAL TEXTILE  PROCUREMART SERVICES BANGLADESH LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">DTM CORPORATION</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">FRONT DESK BD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">KASSIM TEXTILE PVT LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">VT CREATION </h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">PROSPERITY TEXTILE</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">VARDHMAN TEXTILE</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">MYER SOURCING ASIA LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">TRIMS DESIGN BD LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">PANDORA SWEATER LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">PANDORA FASHION LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">RENAISSANCE APPARELS LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">RENAISSANCE DESIGN LTD</h2>
                                          </div>
                                        </li>

                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">MILLENIUM TEXTILE LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">RUNNING FASHION LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">ELEGANCE ORIENTALE LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">DECENCY FASHION LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">TEX-STYLE BD LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">SAMRAT GROUP</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">ALOK INDUSTRIES</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">FASHION DIRECT BD LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">PINAKI  GROUP</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">Z&Z INTIMATES LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">SS DENIM LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">ROOTMAN APPARELS LTD</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">ATTIRE SOURCE</h2>
                                          </div>
                                        </li>
                                        <li>
                                          <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                              <h2 class="title-1">A&S SOURCING</h2>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <img alt="" src="{% static 'assets/img/block/about-img.png' %}" class="effect animated fadeInRight" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.Clients -->




            </article>
            <!-- /.Content Wrapper -->

  {% endblock %}
