
{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

<article>
    <!-- Banner -->
    <section class="banner mask-overlay pad-120 white-clr">
        <div class="container theme-container rel-div">
            <img class="pt-10 effect animated fadeInLeft" alt="" src="{% static 'assets/img/icons/icon-1.png' %}" />
            <ul class="list-items fw-600 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                <li><a href="#">Speed</a></li>
                <li><a href="#">Safety</a></li>
                <li><a href="#">Reliability</a></li>
                <li><a href="#">Economy</a></li>
            </ul>
            <h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> SPEEDLINE EXPRESS LTD. </h2><br> <h2>A GOVERNMENT <span class="theme-clr">AUTHORISED</span> CLEARING AND FORWARDING AGENT</h2>
        </div>
        <div class="pad-50 visible-lg"></div>
    </section>
    <!-- /.Banner -->

    <!-- Track Product -->
    <section>
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 track-prod clrbg-before wow slideInUp" data-wow-offset="50" data-wow-delay=".20s">
                    <h2 class="title-1"> track your product </h2> <span class="font2-light fs-12">Please do not put any space incase of multiple search</span>
                    <div class="row">
                        <form class="" method="get" action="{% url 'search_page' %}">
                          {% csrf_token %}
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter your product ID" required="" class="form-control box-shadow" name="q" value="{{ request.GET.get }}">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <input class="btn-1" type="submit" value="track your product"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Track Product -->

    <!-- About Us -->
    <section class="pad-80 about-wrap clrbg-before">
        <span class="bg-text wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> About </span>
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-us pt-10">
                        <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                          We  offer  effective  and  reliable  customs  clearing   and  transportation   services  to  our
                          clients. We  promise  to   our   clients  to give them best service  in  every  step until they
                          get their  goods  in  hand .   To  provide  this  special  service  to  our  clients  we  have proper
                          knowledge  about  clearance  regulations  and  procedures.
                        </p>

                        <ul class="feature">
                            <li>
                                <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                    <h2 class="title-1">RELIABILITY</h2>
                                </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">MINIMUM HANDLING TIME</h2>
                              </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">ASSURED SAFETY AND SECURITY OF CONSIGNMENTS</h2>
                              </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">COST EFFECTIVENESS</h2>
                              </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">CUSTOMS DOCUMENTATION</h2>
                              </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">RECEIVING GOODS</h2>
                              </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">EXAMINATION OF SHIPMENT</h2>
                              </div>
                            </li>
                            <li>
                              <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                  <h2 class="title-1">COMPLETING ALL CLEARING PROCEDURES CAREFULLY</h2>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="pb-80 visible-lg"></div>
                    <img alt="" src="{% static 'assets/img/block/about-img.png' %}" class="wow slideInRight" data-wow-offset="50" data-wow-delay=".20s" />
                </div>
            </div>
        </div>
    </section>
    <!-- /.About Us -->



    <!-- Steps -->
    <section class="steps-wrap mask-overlay pad-80">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 1. </div>
                    <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">
                        <h2 class="title-3">Speed</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 2. </div>
                    <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">
                        <h2 class="title-3">Safety</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 3. </div>
                    <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">
                        <h2 class="title-3">Reliability</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-img wow slideInRight" data-wow-offset="50" data-wow-delay=".20s"> <img class="counter-car-image" src="{% static 'assets/img/block/step-img.png' %}" alt="" /> </div>
    </section>
    <!-- /.Steps -->

    <!-- Product Delivery -->
    <section class="prod-delivery pad-120">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="pt-120 rel-div">
                        <div class="pb-50 hidden-xs"></div>
                        <h2 class="section-title wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> <span class="theme-clr"> One key </span> Destination for All Courier Need</h2>
                        <div class="col-md-8 col-sm-8">

                          <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                            Let’s introduce our self as a one key destination for providing best solutions for all your courier matters. Speed Line Express Ltd is committed to deliver goods in safe and secure platform. Our infrastructure is the key strength which supplies satisfactory result to our valuable customers. For bulk documents we also provide packing material on demand, to keep document safe from environmental threats.
                            Speed Line Express Ltd fully exploits the technology to support its operations and other activities. We offer successful Trace and Track facility in the system. The company has achieved 100% computerization within its self network. The centralized back-up servers ensure an appropriate disaster management system and ensure efficient management information and analytical tools.
                            A 100% mobility and abundant use of messaging tools ensure a fast communication module so vital in express industry. Speed Line Express Ltd has created adequate and modern infrastructure to support its vast network across the country. The company runs a fleet of self controlled vehicles to create efficiency in intra-city and intra-zone movement of load.

                          </p>

                        </div>

                        <div class="pb-120 hidden-xs"></div>
                    </div>
                    <div class="delivery-img pt-10" style="left: 650px;">
                        <img alt="" src="{% static 'assets/img/block/delivery.png' %}" class="wow slideInLeft" data-wow-offset="50" data-wow-delay=".20s"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Product Delivery -->

    <!-- Contact us -->
    <section class="contact-wrap pad-120">
        <span class="bg-text wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> Contact </span>
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <div class="title-wrap">
                        <h2 class="section-title wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s">contact us</h2>
                        <p class="wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s" >Get in touch with us easiky</p>
                    </div>
                    <ul class="contact-detail title-2">
                      <li class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s"> <span>Managing Director:</span> <p class="gray-clr"> Cell <br> +88 01717462857 </p> </li>
                      <li class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s"> <span>Director:</span> <p class="gray-clr"> Cell <br> +8801955683589 </p> </li>
                      <li class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".50s"> <span>Email address:</span> <p class="gray-clr"> support@go.com <br> info@go.com </p> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Contact us -->
</article>

{% endblock %}
